body {
  background-color: #00008B;
	margin: 0;
	font-family: Eater, Arial, Sans-serif;
}
.container {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    text-align: center;
} 
h1 {
  Color: white;
  font-size: 40px:
}
img{
	max-width: 400px;
}
.choices {
max-width: 60%;
height: auto;
margin-bottom: 30px;

a:hover {
color: red;
border-color: red;
}
